body{
    background-color: darkslategrey;
}
.card-header{
    border: none;
}
.card{
    background-color: black;
    border-color:springgreen;
}
h5,label{
    color:aqua;
}
.line{
    background-color: white;
}

.card-body{
    color: burlywood;
}